tensor Axially Symmetric
cutoff 0.95
Fcutoff 0.80
optimize Yes
maxloop 10
almost1 20
S2cutoff 0.7
seed 1985
numsim 300
jobname RNaseA
gamma -2.710
rNH 1.02
N15CSA -160
tm 4.12
tmMin 3.8
tmMax 4.5
tmGrid 5
tmConv 0.001
Dratio 0.819
DratioMin 0.8
DratioMax 0.9
DratioGrid 5
DratioConv 0.001
Theta 20
ThetaMin 0
ThetaMax 40
ThetaGrid 5
ThetaConv 0.001
Phi 0
PhiMin 0
PhiMax 360
PhiGrid 20
PhiConv 0.001
model1only No
mpdb pdbfile
file{0}{R1} /home/kvkrishna/Auto/Exp/Tcl/Wish/data.in
file{0}{R2} /home/kvkrishna/Auto/Exp/Tcl/Wish/data.out
file{0}{NOE} /home/kvkrishna/Auto/Exp/Tcl/Wish/Power
file{0}{field} 600
file{1}{R1} /home/kvkrishna/Auto/Exp/Tcl/Wish/test
file{1}{R2} /home/kvkrishna/Auto/Exp/Tcl/Wish/Simple
file{1}{NOE} /home/kvkrishna/Auto/Exp/Tcl/Wish/data.out
file{1}{field} 600
